body{
  background-color: $pointcolorB;
}
.wrap.home{
  background-image: url(../images/home/home_BG.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 0;
  background-color: $pointcolorB;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  .user-wrap{
    margin: 30px 28px 44px;
    &-tit{
      width: 100%;
      font-size: 28px;
      font-weight: $weight-l;
      line-height: 39px;
      color: white;
    }
    &-content{
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      margin-bottom: 34px;
      .service-content{
        display: flex;
        flex-direction: row;
        &:first-child{
          margin-bottom: 14px;
        }
        .text-content{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 14px;
          font-size: 14px;
          &-tit{
            color: white;
            font-weight: $weight-r;
          }
          &-txt{
            margin-top: 2px;
            color: rgba(255, 255, 255,0.8);
            font-weight: $weight-t;
          }
        }
        img{
          border-radius: 8px;
        }
      }
    }
    &-footer{
      position: relative;
      color: white;
      font-size: 15px;
      &::after{
      content: '';
      width: 6px;
      height: 6px;
      border-top: 1px solid;
      border-right: 1px solid;
      display: inline-block;
      transform: rotate(45deg);
      top: 4px;
      left: 58px;
      position: absolute;
      }
    }
  }
  .container{
    margin-top: 62px;
    .nav{
      position: fixed;
      z-index: $gnb;
      top: 0px;
      background-color: $pointcolorB;
      width: 100%;
      height: 62px;
    }
    .card{
      overflow: hidden;
      &-content{
        border-radius: 15px 15px 0px 0px;
        &-img{
          width: 153px;
          height: 94px;
          top: 247px;
          left: 238px;
        }
        .visual{
          width: 100%;
          height: 100%;

          .line{
            display: flex;
            margin-left: 20px;
            margin-right: 20px;
            border-bottom: 1px solid rgba(0,0,0,0.06);
          }

          &-header{
            display: flex;
            align-items: center;
            overflow-x: scroll;
            height: 147px;
            border-radius: 15px 15px 0px 0px;
            background-color: #FAFAFD;
            -ms-overflow-style: none; /* IE and Edge */
            &-wrap{
              height: 147px;
            }
            &::-webkit-scrollbar{ display:none; }
            &.scroll-on{
              position: fixed;
              width: 100%;
              height: 100px;
              border-radius: 0px 0px 15px 15px;
              top: 62px;
              // top: 106px; /// gnb 영역
              box-shadow: 0 0 10px rgba(0, 0, 0, .5);
              z-index: $gnb;
              .visual-header-list{
                font-size: 10px;
                img{
                  width: 52px;
                }     
              }     
            }
            &-list{
              font-size: 13px;
              display: flex;
              flex-direction: column;
              align-items: center;
              &:first-child{
                margin-left: 20px;
              }
              &:last-child{
                padding-right: 20px;
              }
              &:not(:last-child){
                margin-right: 12px;
              }
              img{
                border-radius: 90px;
                margin-bottom: 8px;
              }
            }
          }
          &-footer{
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin-right: 30px;
            margin-top: 15px;
            margin-bottom: 48px;
            font-size: 16px;
            &::after{
              content: '';
              width: 6px;
              height: 6px;
              border-top: 1px solid;
              border-right: 1px solid;
              display: inline-block;
              transform: rotate(45deg);
              top: 9px;
              right: -13px;
              position: absolute;
            }
          }

          &-body{
            margin: 36px 0px 0px;
          }

          &-label{
            .label-tit{
              font-size: 22px;
              font-weight: $weight-r;
              line-height: 30px;
              margin-left: 20px;
            }
            .label-txt{
              font-size: 15px;
              margin-top: 14px;
              overflow-x: scroll;
              -ms-overflow-style: none; /* IE and Edge */
              &::-webkit-scrollbar{ display:none; }
              color: #444444;
              span.select{
                font-weight: $weight-b;
                color: #000000;
                position: relative;
                &::after{
                  content: " ";
                  position: absolute;
                  border-bottom: 2px #000000 solid;
                  top: 20px;
                  width: 100%;
                  right: -1px;
                  margin-top: auto;
                  margin-bottom: auto;
                }
              }
              span:first-child{
                margin-left: 20px;
              }
              span:last-child{
                margin-right: 20px;
              }
              span:not(:first-child)
              {
                margin-left: 18px;
              }
              &-scroll{
                width: max-content;
                height: 24px;
              }
            }
          }
          &-content{
            overflow-x: scroll;
            -ms-overflow-style: none; /* IE and Edge */
            &::-webkit-scrollbar{ display:none; }
            .scroll{
              display: flex;
            }
            &-selection{
              width: max-content;
              display: flex;
              justify-content: center;
              margin-top: 32px;
              margin-bottom: 28px;
              .introduce{
                &-selection{
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  width: 128px;
                  height: 213px;
                  &:first-child{
                    margin-left: 20px;
                  }
                  &:last-child{
                    margin-right: 20px;
                  }
                  img{
                    margin-bottom: 16px;
                    font-weight: $weight-r;
                  }
                  &-tit{
                    font-size: 16px;
                  }
                  &-txt{
                    position: relative;
                    font-size: 13px;
                    color: #888888;
                    span:first-child{
                      margin-right: 13px;
                    }
                    span:first-child::after{
                      content: '';
                      width: 3px;
                      border-top: 3px solid;
                      display: inline-block;
                      border-radius: 50%;
                      top: 8px;
                      left: 70px;
                      position: absolute;
                    }
                  }
                  &-txt2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin-top: 3px;
                    span:first-child{
                      color: #FF432F;
                      margin-right: 10px;
                      font-family: 'Montserrat';
                    }
                    span:last-child{
                      font-size: 14px;
                      color: #000000;
                    }
                  }
                  &:not(:first-child)
                  {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
          
          .product{
            &-wrap{
              width: 100%;
              background-color: white;
              position: relative;
              .swiper{
                &-container{
                  height: max-content;
                  margin-bottom: 50px;
                }
                &-wrapper{
                  margin: 0 20px;
                }
                &-slide{
                  width: 360px;
                  &:not(:first-child)
                  {
                    margin-left: -5.333vw;
                  }
                  img{
                    border-radius: 8px;
                  }
                }
              }
              .benefits{
                &-tit{
                  font-size: 22px;
                  line-height: 30px;
                  margin: 0px 20px;
                }
                &-scroll{
                  display: flex;
                  overflow-x: scroll;
                  -ms-overflow-style: none; /* IE and Edge */
                  font-size: 14px;
                  margin-top: 24px;
                  margin-bottom: 64px;
                  &::-webkit-scrollbar{ display:none; }
                  img{
                    border-radius: 8px;
                    margin-bottom: 4px;
                  }
                  .content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:first-child{
                      margin-left: 20px;
                    }
                    &:last-child{
                      padding-right: 20px;
                    }
                    &:not(:first-child)
                    {
                      margin-left: 14px;
                    }
                  }
                }
                &-bandbanner{
                  width: 100%;
                  margin-bottom: 50px;
                }
              }
              .review{
                &-tit{
                  font-size: 22px;
                  line-height: 30px;
                  margin: 0px 20px;
                }
                &-wrap{
                  .category{
                    margin-top: 24px;
                    margin-bottom: 22px;
                    &-swiper{
                      width: 100%;
                      display: flex;
                      overflow-x: scroll;
                      -ms-overflow-style: none; /* IE and Edge */
                      &::-webkit-scrollbar{ display:none; }
                      ul{
                        display: flex;
                        margin: 0px 20px 0px;
                        li{
                          &.list{
                            background-color: #F5F5F5;
                            color: rgba(0, 0, 0,0.4);
                            border-radius: 30px;
                            font-size: 15px;
                            &.select{
                              background-color: #1E1160;
                              color: #FFFFFF;
                            }
                            .caregory-tit{
                              display: flex;
                              width: max-content;
                              height: max-content;
                              align-items: center;
                              justify-content: space-around;
                              margin: 10px 16px 9px;
                            }
                          }
                          &.content{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-right: 10px;
                            font-size: 15px;
                            img{
                              margin-bottom: 15px;
                            }
                          }
                          &:not(:first-child)
                          {
                            margin-left: 8px;
                          }
                          &:last-child
                          {
                            margin-right: 20px;
                          }
                        }
                      }
                    }
                  }
                }
                &-scroll{
                  overflow: hidden;
                  margin-bottom: 16px;
                  width: 100%;
                  &-content{
                    display: flex;
                    width: max-content;
                    transition: transform 0.5s;
                    &-list{
                      display: flex;
                      flex-direction: column;
                      width: 320px;
                      border: 1px solid #EEEEEE;
                      border-radius: 8px;

                      &:first-child{
                        margin-left: 20px;
                      }
                      &:not(:first-child)
                      {
                        margin-left: 16px;
                      }
                      .list-01{
                        margin: 23px 20px;
                        &-user{
                          .review{
                            font-size: 15px;
                            margin-bottom: 10px;
                            line-height: 23px;
                          }
                          .userName{
                            font-size: 13px;
                            font-weight: $weight-l;
                            color: #888888;
                          }
                        }
                        .star-content{
                          display: flex;
                          justify-content: space-between;
                          color: #2C22FF;
                          font-size: 13px;
                          margin-bottom: 13px;
                          .starRev{
                            display: flex;
                          }
                          .starTxt{
                            position: relative;
                            left: 3px;
                            line-height: 14px;
                          }
                          .date-txt{
                            color: #888888;
                          }
                        }
                      }
                      .list-02{
                        display: flex;
                        flex-direction: row;
                        margin: 18px 20px 22px;
                        .review_img{
                          margin-right: 16px;
                        }
                        &-text{
                          .tit{
                            display: flex;
                            justify-content: space-between;
                            width: 156px;
                            font-size: 16px;
                            font-weight: $weight-b;
                            span{
                              font-weight: $weight-r;
                              border-radius: 4px;
                              background-color: #6516C1;
                              color: white;
                            }
                            &-content{                              
                              display: flex;
                              width: max-content;
                              height: max-content;
                              align-items: center;
                              justify-content: space-around;
                              font-size: 10px;
                              margin: 3px 5px 3px;
                            }
                          }
                          .txt{
                            margin-top: 5px;
                            font-size: 14px;
                            color: #222222;
                          }
                          .content{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 9px;
                            p{
                              font-size: 12px;
                              color: #444444;
                            }
                            img{
                              margin-right: 4px;
                              padding-top: 2px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
                &-footer{
                  display: flex;
                  justify-content: flex-end;
                  position: relative;
                  margin-right: 30px;
                  margin-top: 15px;
                  margin-bottom: 48px;
                  font-size: 16px;
                  &:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid;
                    border-right: 1px solid;
                    display: inline-block;
                    transform: rotate(45deg);
                    top: 6px;
                    right: -13px;
                    position: absolute;
                  }
                }
                
              }
              ////////////별점 추가
              .starR1 {
                background: url('../images/home/ico_review.png') no-repeat -22px 0;
                background-size: auto 100%;
                width: 7px;
                height: 13px;
                float: left;
                text-indent: -9999px;
                cursor: pointer;
              }
              
              .starR2 {
                background: url('../images/home/ico_review.png') no-repeat right 0;
                background-size: auto 100%;
                width: 7px;
                height: 13px;
                float: left;
                text-indent: -9999px;
                cursor: pointer;
              }
              
              .starR1.on {
                background-position: 0 0;
              }
              
              .starR2.on {
                background-position: -7px 0;
              }

            }

            &-mini{
              &-scroll{
                position: absolute; 
                overflow: hidden;
                top: 325px;
                z-index: 100;
                width: 100%;
                
                .scroll{
                  &-container{
                    display: flex;
                    overflow-x: scroll;
                    -ms-overflow-style: none; /* IE and Edge */
                    width: 320px;
                    &::-webkit-scrollbar{ display:none; }
                  }
                  &-content{
                    font-size: 12px;
                    color: #526080;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:first-child{
                      margin-left: 40px;
                    }
                    &:last-child{
                      padding-right: 40px;
                    }
                    img{
                      border-radius: 8px;
                      margin-bottom: 4px;
                    }
                    &:not(:first-child){
                      margin-left: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}