body{
  background-color: $pointcolorB;
}
.wrap.tplanner{
  background-color: $pointcolorB;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  -webkit-overflow-scrolling: touch;
  .container{
    .card{
      margin: 44px 20px 0px;
      &-content{
        border-radius: 15px;
        &-img{
          top: -70px;
          left: 28px;
        }
        .visual{
          width: 100%;
          height: 100%;

          &-header{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 64px;
            border-radius: 15px 15px 0px 0px;
            background-color: #FAFAFD;
          }
          &-label{
            .label-tit{
              font-family: "NanumBarunGothic";
              font-size: 21px;
              margin-top: 6px;
              font-weight: $weight-b;
            }
            .label-txt{
              font-family: "NanumBarunGothic";
              font-size: 15px;
              margin-top: 14px;
              color: #666666;
            }
            span{
              position: relative;
            }

            span:first-child{
              margin-right: 10px;
              &::after{
                content: " ";
                position: absolute;
                border-left: 2px #666666 solid;
                top: 1px;
                height: 14px;
                right: -8px;
                margin-top: auto;
                margin-bottom: auto;
              }
            }
          }
          &-content{

            margin: 24px;

            &-selection{
              display: flex;
              justify-content: center;
              .introduce{
                &-selection{
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  border-radius: 15px;
                  width: 80px;
                  height: 117px;
                  border: 1.5px dashed #ABB8C3;
                  background-color: #FAFBFA;
                  .content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 14px;
                  }
                  img{
                    width: 100%;
                    height: auto;
                  }
                  &:nth-child(1){
                    position: relative;
                    margin-right: 40px;
                    border: 1.5px dashed #3A33CE;
                    background-color: #FAFBFA;
                    color: #3A33CE;
                    &::before{
                      content: " ";
                      position: absolute;
                      border-left: 4px #BDC8D1 solid;
                      border-radius: 15px;
                      top: 47px;
                      height: 20px;
                      right: -22px;
                      margin-top: auto;
                      margin-bottom: auto;
                    }
                    &::after{
                      content: " ";
                      position: absolute;
                      border-left: 4px #BDC8D1 solid;
                      border-radius: 15px;
                      top: 47px;
                      transform: rotate(90deg);
                      height: 20px;
                      right: -22px;
                      margin-top: auto;
                      margin-bottom: auto;
                    }
                  }
                  &:nth-child(2){
                    margin-right: 8px;
                  }
                  &:not(:first-child){
                    color: #AAB7C1;
                  }
                  .speech-bubble{
                    position: absolute;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    color: white;
                    background-color: #3A33CE;
                    font-family: 'tvN';
                    pointer-events: none;
                    font-size: 21px;
                    border-radius: 30px;
                    width: 158px;
                    height: 36px;
                    top: 130px;
                    left: 0px;
                    &::after{
                      content: '';
                      position: absolute;
                      top: -7px;
                      left: 15px;
                      border-bottom: 8px solid #3A33CE;
                      border-right: 8px solid transparent;
                      border-left: 8px solid transparent;
                    }
                  }
                }
              }
            }

            &-service{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin-top: 16px;
              height: 184px;
              border-top: 1px solid rgba(0, 0, 0, 0.06);
              border-bottom: 1px solid rgba(0, 0, 0, 0.06);

              .service-content{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100%;
                &:first-child{
                  margin-top: 16px;
                  font-size: 15px;
                  border-radius: 10px;
                  color: #AAB7C1;
                  background-color: #FAFBFA;
                  border: 1.5px dashed #ABB8C3;
                }
                &:not(:first-child)
                {
                  margin-top:10px
                }
                .Sale-btn{
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  width: 138px;
                  height: 52px;
                  font-size: 15px;
                  color: #AAB7C1;
                  background-color: #FAFBFA;
                  border: 1.5px dashed #ABB8C3;
                  border-radius: 10px;
                  margin-right: 11px;
                }
                .Extra-btn{
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  width: 138px;
                  height: 52px;
                  font-size: 15px;
                  color: #AAB7C1;
                  background-color: #FAFBFA;
                  border: 1.5px dashed #ABB8C3;
                  border-radius: 10px;
                }
              }
              .payment{
                &-amount{
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  h1{
                    display: flex;
                    font-size: 15px;
                  }
                }
                &-num{
                  font-family: 'Montserrat';
                  font-size: 22px;
                  font-weight: $weight-b;
                }
                &-txt{
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  margin-left: 3px;
                  margin-top: 3px;
                  &::after{
                    position: relative;
                    content: url(../images/arrow.png);
                    transition: 0.5s;
                    transform: rotate(0deg);
                    top: -2px;
                    left: 4px;
                    width: 22px;
                    height: 1px;
                  }
                  &.changed::after{
                    transform: rotate(180deg);
                    top: 4px;
                  }
                }
              }
            }
            .payment-view{
              height: 300px;
              display: none;
            }
            &-option{
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin-top: 18px;
              .option-change{
                border: 1px solid rgba(58, 51, 206, 0.3);
                color: rgba(58, 51, 206, 0.7);
                border-radius: 5px;
                width: 138px;
                height: 46px;
                margin-right: 11px;
                font-size: 15px;
              }
              .order{
                border: 1px solid rgba(58, 51, 206, 0.3);
                color: white;
                background-color: rgba(58, 51, 206, 0.3);
                border-radius: 5px;
                width: 138px;
                height: 46px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .product-wrap{
      display: flex;
      justify-content: space-around;
      background-color: white;
      width: 100%;
      margin-top: 32px;
      .container
      {
        padding: 36px 20px 64px;
      }
      &-tit{
        line-height: 28px;
        font-size: 22px;
        width: 182px;
        font-weight: $weight-s;
      }
      &-card{ 
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        flex-direction: column;
        &-header{
          width: 100%;
          position: relative;
          img{
            width: 100%;
          }
          .text-content{
            position: absolute;
            width: 200px;
            top: 28px;
            left: 24px;
            color: white;
            &-tit{
              font-size: 20px;
              line-height: 27px;
              font-weight: $weight-b;
            }
            &-txt{
              position: relative;
              margin-top: 5px;
              font-size: 14px;
              
              &::after{
                content: '';
                width: 6px;
                height: 6px;
                border-top: 1px solid;
                border-right: 1px solid;
                display: inline-block;
                transform: rotate(45deg);
                top: 4px;
                position: absolute;
              }
            }
            &.black{
              color: #000000;
            }
          }
        }
        &-body{
          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.06);
          .content{
            margin: 20px 0px 18px 24px;
            &-list{
              display: flex;
              flex-direction: row;
              .text-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 12px;
                &-tit{
                  font-size: 15px;
                  font-weight: $weight-s;
                }
                &-txt{
                  font-size: 13px;
                  font-weight: $weight-s;
                  color: #666666;
                }
              }
              img{
                border-radius: 8px;
              }
            }
            &-list:not(:first-child){
              margin-top: 14px;
            }
          }
        }
        &-footer{
          display: flex;
          justify-content: space-around;
          margin: 18px 24px;
        }
        &-btn{
          &-01{
            font-size: 16px;
            font-weight: $weight-b;
            width: 287px;
            height: 54px;
            background-color: #3C3C3C;
            border-radius: 8px;
            color: white;
          }
        }
      }
    }
  }
}



