/////////////////////////////////////////////
// color
/////////////////////////////////////////////

$white: #ffffff;
$black: #000000;
$transparent : transparent;

$pointcolorA: #7063ff;
$pointcolorB: #3A33CE;
$pointcolorC: #ffc448;
$pointcolorD: #ff4d7a;

$gery-f8: #f8f8f8;
$gery-ee: #eeeeee;
$grey-dd: #dddddd;
$grey-cc: #cccccc;
$grey-34: #343434;
$grey-30: #303030;
$grey-22: #222222;
$grey-19: #191919;
$grey-07: #070707;


$plxSize: 240px;

/////////////////////////////////////////////
// Root Color
/////////////////////////////////////////////
:root {
  // --swiper-theme-color: $black;
}

/////////////////////////////////////////////
// font 
/////////////////////////////////////////////

$letter-32: -0.32px;

//font-weight setting
$weight-t : 100;
$weight-l : 300;
$weight-r : 400;
$weight-m : 500;
$weight-s : 600;
$weight-b : 700;
$weight-e : 900;


/////////////////////////////////////////////
// z-index
/////////////////////////////////////////////